* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    text-align: center;
    margin-top: 1rem;
}

header p {
    font-size: 1rem;
}

header h1 {
    font-size: 2.5rem;
}

body {
    background-image: url("bg.avif");
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

.form-box {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 10px;
}

form {
    height: 300px; 
    width: 350px; 
    background-color: #FFE4FA;
    border-radius: 1rem;
    padding: 1rem;
}

input#input-text,
input#output-text {
    border-radius: 0.4rem; 
    padding: 0.5rem;   
    border: 1px solid #ccc; 
}

select {
    border-radius: 0.4rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.icon {
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100%;     
    width: 3rem; 
    font-size: 2rem;
}

button {
    margin: 1rem 0 0 6.4rem;
    height: 3rem;
    width: 33%;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 0.3rem #000;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@media(250px <= width <= 700px){
    .form-box {
        flex-direction: column;
    }
    main {
        margin: 2rem 0 2rem 0;
    }

    .icon {
        font-size: 1rem;
        transform: rotate(90deg);
    }

    form {
        height: 33%;
        width: 80vw;
    }

    button {
        margin-left: 35%;
    }

    header {
        margin: 10px;
    }
}

@media (701px <= width <= 972px){
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    main {
        width: 50vmax;
        margin-left: 25%;
    }

    form {
        height: 33%;
        width: 40vmax;
    }

}
